body {
    background-color: #2e3945;
}

.jumbotron {
    
    background-image: url("../img/concert.jpg"); 
    /*background-size: cover;
    */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-position-y: 60%;
    background-color: rgb(106, 0, 0);
    background-blend-mode: soft-light;
  }

#navbar {
    background-color: transparent !important;
}

#creditosPortada {
    text-align: bottom !important;
    margin-bottom: 0% !important;
    font-size: small;
    color: rgb(183, 183, 183) !important;
  }

#creditosLink1 {
    color: rgb(183, 183, 183) !important;
  }
#creditosLink2 {
    color: rgb(183, 183, 183) !important;
  }

.grisClaro {
    background-color: #394e63 !important;
}

.card {
    background-color: #394e63 !important;
}

#fechas {
  background-color: #ffffff !important;
}

#botonCat:hover {
    background-color: #263442;
    color: white;
    cursor: pointer
}

#buscar {
    background-color: #394e63;
    color: white;
    border-color: #394e63;
}
#titulo_fecha {
  vertical-align: middle !important;
}