<h1>Asientos</h1>
{{#each lista_asientos}}
	<div class="form-check form-check-inline">
		<input
			class="form-check-input"
			type="checkbox"
			id="inlineCheckbox1"
			value="option1"
		/>
		<label class="form-check-label" for="inlineCheckbox1">{{this}}</label>
	</div>
{{/each}}